[submodule "frontend"]
	path = frontend
	url = https://github.com/varunisalive/Runaway-Frontend-React.git
[submodule "backend"]
	path = backend
	url = https://github.com/varunisalive/Runaway-Backend.git
